{% load wagtailimages_tags %}

<div>
  <div class="interactive-anatomy">
    <h3>{{ value.title }}</h3>
    <div class="interactive-wrapper">
      <svg
        class="responsive-svg"
        viewBox="0 0 690 362"
        fill="none"
        height="390"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        {% image value.image width-1140 as img %}
        <foreignObject class="foreign-object" height="271" width="246">
          <img
            src="{{ img.url }}"
            srcset="
              {% image value.image width-480 as r %}{{ r.url }} 480w,
              {% image value.image width-768 as r %}{{ r.url }} 768w,
              {% image value.image width-1140 as r %}{{ r.url }} 1140w,
              {% image value.image width-1920 as r %}{{ r.url }} 1920w
            "
            sizes="100vw"
            alt="geat white shark interactive anatomy"
          />
        </foreignObject>
        <g class="ca-interactive-images-container-left-item">
          <circle
            class="ca-interactive-images-container-left-item-circle"
            cx="390"
            cy="70"
            fill="darkblue"
            r="7"
          ></circle>
          <circle
            class="ca-interactive-images-container-left-item-blur"
            cx="390"
            cy="70"
            r="13.5"
            stroke="darkblue"
          ></circle>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="250"
            x2="450"
            y1="30"
            y2="30"
          ></line>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="390"
            x2="390"
            y1="57"
            y2="30"
          ></line>
          <text
            class="ca-interactive-images-container-left-item-text"
            fill="white"
            font-family="Noto Sans"
            font-size="14"
            letter-spacing="0px"
            style="white-space: pre"
            xml:space="preserve"
          >
            <tspan x="250" y="25">Dorsal Fin</tspan>
          </text>
        </g>
        <g class="ca-interactive-images-container-left-item">
          <circle
            class="ca-interactive-images-container-left-item-circle"
            cx="340"
            cy="150"
            fill="darkblue"
            r="7"
          ></circle>
          <circle
            class="ca-interactive-images-container-left-item-blur"
            cx="340"
            cy="150"
            r="13.5"
            stroke="darkblue"
          ></circle>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="280"
            x2="140"
            y1="90"
            y2="90"
          ></line>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="340"
            x2="280"
            y1="137"
            y2="90"
          ></line>
          <text
            class="ca-interactive-images-container-left-item-text"
            fill="white"
            font-family="Noto Sans"
            font-size="14"
            letter-spacing="0px"
            style="white-space: pre"
            xml:space="preserve"
          >
            <tspan x="140" y="85">Gill slit</tspan>
          </text>
        </g>
        <g class="ca-interactive-images-container-left-item">
          <circle
            class="ca-interactive-images-container-left-item-circle"
            cx="90"
            cy="200"
            fill="darkblue"
            r="7"
          ></circle>
          <circle
            class="ca-interactive-images-container-left-item-blur"
            cx="90"
            cy="200"
            r="13.5"
            stroke="darkblue"
          ></circle>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="250"
            x2="90"
            y1="100"
            y2="100"
          ></line>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="90"
            x2="90"
            y1="100"
            y2="187"
          ></line>
          <text
            class="ca-interactive-images-container-left-item-text"
            fill="white"
            font-family="Noto Sans"
            font-size="14"
            letter-spacing="0px"
            style="white-space: pre"
            xml:space="preserve"
          >
            <tspan x="90" y="95">Lorenzini bulbs</tspan>
          </text>
        </g>
        <g class="ca-interactive-images-container-left-item">
          <circle
            class="ca-interactive-images-container-left-item-circle"
            cx="620"
            cy="160"
            fill="darkblue"
            r="7"
          ></circle>
          <circle
            class="ca-interactive-images-container-left-item-blur"
            cx="620"
            cy="160"
            r="13.5"
            stroke="darkblue"
          ></circle>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="470"
            x2="620"
            y1="90"
            y2="90"
          ></line>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="620"
            x2="620"
            y1="90"
            y2="147"
          ></line>
          <text
            class="ca-interactive-images-container-left-item-text"
            fill="white"
            font-family="Noto Sans"
            font-size="14"
            letter-spacing="0px"
            style="white-space: pre"
            xml:space="preserve"
          >
            <tspan x="470" y="85">Caudal fin</tspan>
          </text>
        </g>
        <g class="ca-interactive-images-container-left-item">
          <circle
            class="ca-interactive-images-container-left-item-circle"
            cx="260"
            cy="290"
            fill="darkblue"
            r="7"
          ></circle>
          <circle
            class="ca-interactive-images-container-left-item-blur"
            cx="260"
            cy="290"
            r="13.5"
            stroke="darkblue"
          ></circle>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="260"
            x2="100"
            y1="340"
            y2="340"
          ></line>
          <line
            class="ca-interactive-images-container-left-item-line"
            stroke="white"
            x1="260"
            x2="260"
            y1="303"
            y2="340"
          ></line>
          <text
            class="ca-interactive-images-container-left-item-text"
            fill="white"
            font-family="Noto Sans"
            font-size="14"
            letter-spacing="0px"
            style="white-space: pre"
            xml:space="preserve"
          >
            <tspan x="100" y="335">Pectoral fin</tspan>
          </text>
        </g>
      </svg>
    </div>
  </div>
</div>
