{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% include "includes/hero.html" %}


        {% if page.body %}
          <section class="py-16 bg-background">
              <div class="w-full max-w-4xl mx-auto px-6">
                  {% for block in page.body %}
                    {% include_block block with index=forloop.counter0 %}
                  {% endfor %}
              </div>
          </section>
        {% endif %}

{% endblock content %}
