{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="blur-box">
  <div class="container">
    <div class="row">
      <div class="col shark-header">
        <div class="shark-name">
          {{ page.name }}
        </div>
        <div class="shark-name">
          {{ page.latin_name }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="shark-image">
          {% image page.image fill-1140x500 as img %}
          <img src="{{ img.url }}" srcset="
            {% image_url page.image 'fill-480x210' %} 480w,
            {% image_url page.image 'fill-768x337' %} 768w,
            {% image_url page.image 'fill-1140x500' %} 1140w
          " sizes="(max-width: 768px) 100vw, 1140px" alt="{{ img.alt }}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="shark-size">
          {{ page.size }}
        </div>
      </div>
      <div class="col">
        {{ page.conservation_status }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if page.description %}{{ page.description|richtext }}{% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
