// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 1140px;
    min-height: 100vh;
    margin: 0 auto;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
    background-color: darkblue;
}

li {
  list-style: none;
}

// Had to override bootstrap otherwise include_block create a list inside 'col' class
.container {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    padding: unset;

    li {
      padding: 20px;
    }
  }
}

a {
  text-decoration: none;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0;
    
    a {
      color: white;
    }
  }
}

#main-content {
  margin-top: 80px;
}

.blur-box {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #3a383880;
  color: #fff;
  display: flex;
  display: grid;
  justify-content: center;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.shark-header {
  height: 120px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.shark-image {
  max-height: 500px;
}
